.categoryPage__grid{
    height: calc(100vh - 5rem);
    margin: 0 !important;
    padding: 0 !important;
}
html{
    padding-top: 5rem !important;
}
.categoryPage__cardsContainer{
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(15em,20vw)) !important;
    grid-auto-rows: 25em;
    gap: 2em;
    justify-content: center;
    overflow-y: auto;
}
.categoryPage__card{
    padding:0 !important;
    margin: 0 !important;
}

.categoryPage__sidebar{
    position: sticky !important;
    top:0 !important;

}