.categoryPage__grid{
    height:100vh;
    padding-top: 6em !important;
    position: relative !important;
    z-index: 2 !important;
    overflow-y: hidden !important;
}
.categoryPage__productsGrid{
    overflow-y: auto !important;
    height:calc(100vh - 6em);
}
.categoryPage__card{
    margin:0 !important;
    padding:0 !important;
    overflow: hidden;
    transition: transform .2s ease-in-out !important;
}

.categoryPage__card__description,.categoryPage__card__header{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categoryPage__sidebar{
    height:calc(100vh - 6em);
}

.filterClearButton{
    text-align:right;
    color:#ee5252 !important;
    font-weight:800 !important;
}
.filterClearButton:hover{
    background-color: transparent !important;
}
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: #858585 !important;
}