#navbar{
    height:6rem !important;
    z-index: 9 !important;
}
.navbar__icon{
    font-size: 1.5em;
    font-weight: 800 !important;
}
.navbar__icon span{
    font-weight: 300 !important;
    color:#1076d4 !important;
}
.navbar__item{
    font-size: 1.15em;
}
#shoppingCartIcon{
    font-size: 1.55em;
    position: relative;
}
#shoppingCartIcon:hover{
    background-color: transparent !important;
}
#shoppingCartCounter{
    border-radius: 100%;
    font-size: .6em;
    font-weight: 800;
    background-color: red;
    color: #eeeeee;
    min-width: 1.5em;
    min-height: 1.5em;
    position: absolute;
    right:1.5em;
    top:1.5em;
    display:grid;
    place-items: center;
}

#hamburger__icon{
    font-size: 1.2em !important;
    display:none;
}

@media screen and (max-width:768px){
    .responsive{
        display:none !important;
    }
    #hamburger__icon{
        display:flex !important;
    }
}

@media screen and (min-width:768px){
    .responsive{
        display:flex !important;
    }
    #hamburger__icon{
        display:none !important;
    }
}
.menuSidebar{
    position:absolute !important;
    top:0 !important;
    bottom:0 !important;
    z-index: 99 !important;
    padding:0 !important;
    margin: 0 !important;
}

